/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  outline-offset: 4px;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default arrow keys from input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

br {
  user-select: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.card__section__reset-btn, .card__section__btns-wrapper__btn {
  border-radius: 6px;
  border: none;
  color: inherit;
  text-transform: uppercase;
}

body, header {
  display: grid;
  place-items: center;
}

html {
  font-size: 16px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  color: white;
}

body {
  margin: 0;
  background-color: #c5e4e7;
}

a:focus-visible {
  outline-offset: 3px;
  outline: #26c0ab solid 2px;
}

header {
  font-size: 0.74rem;
  height: 144px;
  text-align: center;
  color: #5e7a7d;
}
header > h1 {
  text-transform: uppercase;
  letter-spacing: 11px;
  margin-top: 9px;
  padding-left: 11px;
}

::selection {
  color: white;
  background-color: rgba(38, 192, 171, 0.6);
}

.card {
  width: 100%;
  margin: 0 auto;
  padding: 33px 25px;
  border-radius: 26px 26px 0 0;
  background: white;
  max-width: 919px;
  align-self: start;
  box-shadow: 1px 1px 14px 0px #3e3e3e05, 10px 50px 200px 0px #26262608;
}
@media screen and (min-width: 785px) {
  .card {
    display: flex;
    gap: 25px;
    border-radius: 26px;
    max-height: 480px;
  }
}
.card > * {
  flex-basis: 100%;
}

.card__section--left {
  padding: 0 6px;
}

.card__section__label {
  display: block;
  letter-spacing: 0px;
  color: #7f9c9f;
}

.card__section__tip-title {
  margin-top: 30px;
  color: #7f9c9f;
}

.card__section__btns-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 48px;
  gap: 17px;
  margin: 16px 0;
  border-radius: 6px;
}
.card__section__btns-wrapper__btn {
  font-size: 1.48rem;
  background-color: #00494d;
  transition: background-color 210ms, color 100ms;
}
.card__section__btns-wrapper__btn:hover {
  background-color: #26c0ab;
}
.card__section__btns-wrapper__btn:focus-visible {
  outline-offset: 3px;
  outline: #26c0ab solid 2px;
}
.card__section__btns-wrapper__btn--active {
  color: #00494d;
  background-color: #26c0ab;
}

.error-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 2px;
}

.card__section__error {
  opacity: 0;
  font-size: 0.9em;
  color: #ff5a5a;
  transition: opacity 300ms;
}
.card__section__error--visible {
  opacity: 1;
}

.card__section--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 27px 0;
  background-color: #00494d;
  padding: 23px;
  border-radius: 15px;
}
@media screen and (min-width: 785px) {
  .card__section--right {
    margin: 0;
    width: auto;
  }
}

.card__section__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.card__section__container__amount {
  font-size: 1.95rem;
  color: #26c0ab;
  overflow-x: auto;
}
@media screen and (min-width: 785px) {
  .card__section__container__amount {
    max-width: 190px;
  }
}

.card__section__container__title {
  max-width: 100px;
}
.card__section__container__title > span:first-of-type {
  white-space: nowrap;
}
.card__section__container__title > span:last-of-type {
  color: #c5e4e7;
  font-weight: normal;
  font-size: 0.8em;
}

.card__section__input-wrapper {
  position: relative;
  margin: 5px 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #f4fafa;
}
.card__section__input-wrapper::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: calc(100% - (2px * 2));
  width: 46px;
  background: inherit;
  border-radius: 4px 0 0 4px;
}
.card__section__input-wrapper::after {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 18px;
  transform: translateY(-50%);
}

.card__section__input-wrapper--bill::after {
  content: url(../images/icon-dollar.svg);
}

.card__section__input-wrapper--people::after {
  content: url(../images/icon-person.svg);
}

input[type=number] {
  width: 100%;
  color: #00494d;
  height: 46px;
  border: none;
  border-radius: 5px;
  text-align: right;
  font-size: 1.5rem;
  padding-right: 19px;
  caret-color: #26c0ab;
  background-color: inherit;
}
input[type=number]:focus {
  border: 2px solid #26c0ab;
  outline: transparent 2px solid;
}
input[type=number]:invalid {
  border-color: red;
  caret-color: red;
}

input[name=custom] {
  --input_icon-path: none;
  background-color: inherit;
  text-align: center;
  padding: 0;
}
input[name=custom]::placeholder {
  color: #7f9c9f;
}

.card__section__reset-btn {
  position: relative;
  padding: 0;
  width: 100%;
  height: 48px;
  background-color: darkcyan;
  color: #00494d;
  font-size: 1.3rem;
  outline: transparent;
  transform: translateY(-6px);
  transition: color 200ms, background-color 200ms;
}
.card__section__reset-btn > * {
  transition: background 200ms, color 200ms;
}
.card__section__reset-btn > .card__section__reset-btn__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.25);
  transform: translateY(2px);
  filter: blur(50px);
}
.card__section__reset-btn > .card__section__reset-btn__edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #008a8a;
  border-radius: inherit;
  background: linear-gradient(to left, #006666 0%, #008585 8%, #008585 92%, #006666 100%);
}
.card__section__reset-btn > .card__section__reset-btn__front {
  position: relative;
  display: block;
  height: inherit;
  line-height: 48px;
  border-radius: inherit;
  background: #26c0ab;
  transform: translateY(-4px);
  will-change: transform;
  transition: transform 250ms;
}
.card__section__reset-btn:hover > .card__section__reset-btn__shadow {
  transform: translateY(4px);
}
.card__section__reset-btn:hover > .card__section__reset-btn__front {
  transform: translateY(-5px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.card__section__reset-btn:active > .card__section__reset-btn__shadow {
  transform: translateY(1px);
}
.card__section__reset-btn:active > .card__section__reset-btn__front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.card__section__reset-btn:focus-visible {
  outline: #26c0ab ridge 3px;
}

.card__section__reset-btn--disabled > .card__section__reset-btn__front,
.card__section__reset-btn--disabled > .card__section__reset-btn__edge {
  cursor: not-allowed;
  background: #0D686D;
}
.card__section__reset-btn--disabled:hover > .card__section__reset-btn__front {
  transform: translateY(-4px);
}
.card__section__reset-btn--disabled:focus-visible {
  outline: transparent;
}

.card__section__container__amount {
  transition: background 200ms;
  scrollbar-width: thin;
  scrollbar-color: #26c0ab #00494d;
}
.card__section__container__amount::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.card__section__container__amount::-webkit-scrollbar-thumb {
  background: #1d9585;
}
.card__section__container__amount:hover {
  scrollbar-color: cyan;
}
.card__section__container__amount:hover::-webkit-scrollbar-thumb {
  background: #1b887a;
}
.card__section__container__amount:active, .card__section__container__amount:focus {
  scrollbar-color: #26c0ab #00494d;
}
.card__section__container__amount:active::-webkit-scrollbar-thumb, .card__section__container__amount:focus::-webkit-scrollbar-thumb {
  background: #177367;
}

/*# sourceMappingURL=style.css.map */
